*{
  box-sizing: border-box;
}

img {
  width: 60%;
  padding: 30px 30px;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

h1{
  /* text-align: center; */
  font-family: "century-gothic",sans-serif;
  font-weight: normal;
  font-size: 2vw;
}

h2 {
  color: green;
  font-family: "century-gothic",sans-serif;
  font-weight: normal;
  font-size: 1vw;
}

h3{
  font-family: "century-gothic",sans-serif;
  font-weight: normal;
  font-size: 1vw;
}

h4 {
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin:0;
}


#nav-container {
  width: 100%;
  position:fixed;
  z-index: 1;
  overflow-x: hidden;
  right: 0;
  padding: 2rem;
}

#nav {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: center;
}

#nav-button {
  text-align: center;
  border: 1px solid green;
  border-radius: 20px;
  margin:20px;
  padding: 20px 40px;
}

.logo {
  width: 300px;
}


#index-content {
  display:flex;
  flex-direction: column;
  height: 100vh;
}

#index-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50vh;
  width: 100%;
}

#index-gif-container {
  margin: 0 auto;
}

.index-gif {
  width: 700px;
}

#index-bottom {
  display: block;
  height: 50vh;
  width: 100%;
  margin: auto 0;
}

#index-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width:100%;
  position: fixed;
  bottom: 60px;
}

#button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: flex-start;

}

#button.info {
  height: 100%;
  width:100%;
  border: 1px solid green;
  border-radius: 20px;
  margin: 0px 10px 0px 60px;
}

#button.work {
  height: 100%;
  width: 100%;
  border: 1px solid green;
  border-radius: 20px;
  margin: 0px 60px 0px 10px;
}

#index-titles{
  text-align: center;
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}


#work {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 20px; */
  padding-top: 25vh;
  padding-left: 30px;
  padding-right: 30px;
}

#work-photos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  padding-top: 25vh;
}


.projects {
  display: block;
  position: relative;
  /* margin-left: 10%; */
  /* padding: 30px 30px; */
  width: 50%;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.projects:hover .image {
  opacity: 0.05;
}

.projects:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}

#nav-button:hover {
  border: 1px dashed green;
}

#button.info:hover {
  border: 1px dashed green;
}

#button.work:hover {
  border: 1px dashed green;
}

#about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
  padding-top: 200px;
}

.portrait-container {
  width: 100%;
  padding: 0px 0px 20px 80px;

}

img.portrait {
  width: 100%;
  margin: 0 auto;
}

.about-paragraph {
  width: 100%;
  padding: 0px 80px 20px 0px;
}

@media screen and (max-width: 600px) {

  .index-gif {
    width: 400px;
    padding-top: 12rem;

  }

  #nav-button {
    margin:0px 20px 20px 20px;
  }

  #about {
  display: flex;
  flex-direction: column;
  padding-top: 50rem;
  gap: 0px;
  }

  .portrait-container {
    width: 100%;
    padding: 0px 20px;

  }

  .about-paragraph {
    width: 100%;
    padding: 0px 50px ;
  }

  h1{
    /* text-align: center; */
    font-family: "century-gothic",sans-serif;
    font-weight: normal;
    font-size: 18px;
  }

  h2 {
    color: green;
    font-family: "century-gothic",sans-serif;
    font-weight: normal;
    font-size: 12px;
  }

  #work {
    padding-top: 25rem;
  }

  .projects {
    width: 100%;
    padding: 0px;
  }

  img {
    width: 100%;
    padding: 30px 30px;
  }

}
